<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
	<meta name="apple-mobile-web-app-title" content="OK BANK Indonesia">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="description" content="OK BANK Indonesia">
	<title>OK BANK Indonesia</title>
	<meta name="robots" content="all" />

	<!-- css -->
	<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon_128.ico" />
	<link rel="icon" sizes="16x16" href="assets/images/favicon-16.png" />
	<link rel="stylesheet" href="../../../static/mobile/css/noto.css">
	<link rel="stylesheet" href="../../../static/mobile/css/common-style.css">
	<link rel="stylesheet" href="../../../static/mobile/css/ionic.min.bwg-7fa4.css">
	<link rel="stylesheet" href="../../../static/mobile/css/ionic.min.bwg-abb9.css">
    <link rel="stylesheet" href="../../../static/mobile/css/style.css">
	<link rel="stylesheet" href="../../../static/mobile/css/etc.css">

</head>
<body>
<div>

<div class="wrap">

    <div class="header">
    	<h1><img src="../../../static/mobile/images/logo-header.png" alt="OK BANK Indonesia LOGO" /></h1>
    </div>
    <div class="header-bar">
        <span class="header--title">Pengajuan Pinjaman</span>
    </div>

    <div class="container">
		<h3 class="typo--title">
			<span>Informasi Proses Pinjaman</span>
		</h3>
        <div class="list list---sticker mgn-b-50">
            <div class="list--content">
                <ol class="list-flow-transfer only-tit">
                    <li>
                        <img src="../../../static/mobile/images/icon/bullet-decimal-big-1.png" alt="1" /> Input Informasi Nasabah
                        <img src="../../../static/mobile/images/icon/bg-icon-scope.png" alt="Informasi Proses Pinjaman Icon" />
                    </li>
                    <li class="bg-gray">
                        <img src="../../../static/mobile/images/icon/bullet-decimal-big-2.png" alt="2" /> Input Informasi Pengajuan Pinjaman
                        <img src="../../../static/mobile/images/icon/bg-icon-ok-pen.png" alt="Informasi Proses Pinjaman Icon" />
                    </li>
                    <li>
                        <img src="../../../static/mobile/images/icon/bullet-decimal-big-3.png" alt="3" /> Pengajuan Pinjaman Selesai
                        <img src="../../../static/mobile/images/icon/bg-icon-send.png" alt="Informasi Proses Pinjaman Icon" />
                    </li>
                </ol>
            </div>
        </div>
        
        <h3 class="typo--title mgn-t-80">
            <span>Persetujuaan Syarat & Kondisi Pengajuan Pinjaman</span>
        </h3>
        <div class="list--content" style="height: auto;">
            <ul class="mgn-b-50">
                <li>
                    <label class="checkbox fullscreen pad-r-64">
                        <input type="checkbox" name="list" value="" checked />
                        <span>Saya telah membaca syarat pengajuan pinjaman OK Bank, dan setuju.</span>
                    </label>
                    <a target="_blank" href="./popup2.html"><button type="button" class="suffix pad-x-30"><img src="../../../static/mobile/images/icon/icon-policy-left.png" alt="Persetujuaan Syarat lebin lanjut" style="height:1.75rem" /></button></a>
                </li>
            </ul>
        </div>

        <div class="formula mgn-b-0">
            <h3 class="typo--title formula--article mgn-t-80 no-wrap">
                <span>Informasi Produk</span>
            </h3>
            <div class="formula---addon mgn-b-28">
                <a target="_blank" href="./popup1.html"><button type="button" class="btn--more"><span>Informasi produk lebin lanjut</span></button></a>
            </div>
        </div>
        <div class="card-text-wrap bor-fix bor-fix-red">
            <p class="desc">Hanya dengan memberikan data omset saja, masalah modal kerja, dana pembelian, dana untuk exspansi bisnis terselesaikan!</p>
        </div>


        

    </div>

    <div class="footer">
        <a href="./MWO_01_0001.html"><button type="button" class="btn bgc---primary">Lanjut</button></a>
    </div>

</div>

</body>
</html>

