<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <meta name="apple-mobile-web-app-title" content="OK BANK Indonesia">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="description" content="OK BANK Indonesia">
    <title>OK BANK Indonesia</title>
    <meta name="robots" content="all" />

    <!-- css -->
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/mobile/images/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/mobile/images/favicon_128.ico" />
    <link rel="icon" sizes="16x16" href="../../../static/mobile/images/favicon-16.png" />
    <link rel="stylesheet" href="../../../static/mobile/css/noto.css">
    <link rel="stylesheet" href="../../../static/mobile/css/common-style.css">
    <link rel="stylesheet" href="../../../static/mobile/css/ionic.min.bwg-7fa4.css">
    <link rel="stylesheet" href="../../../static/mobile/css/ionic.min.bwg-abb9.css">
    <link rel="stylesheet" href="../../../static/mobile/css/style.css">
    <link rel="stylesheet" href="../../../static/mobile/css/etc.css">

</head>
<body>
<div>

<div class="wrap">

    <div class="header">
        <h1>
            <img src="../../../static/mobile/images/logo-header.png" alt="OK BANK Indonesia LOGO" />
        </h1>
    </div>
    <div class="header-bar">
        <span class="header--title">Pengajuan Pinjaman</span>
    </div>
    <div class="container pad-t-0">
        <div class="extension">
            <div class="workflow">
                <div class="workflow--title">3. Pengajuan pinjaman selesai</div>
                <ul class="workflow--item">
                    <li class="workflow---checked"></li>
                    <li class="workflow---checked"></li>
                    <li class="workflow---active"></li>
                </ul>
            </div>
        </div>
        <div class="fullpage">
            <div class="fullpage-align-m align-c no-wrap">
                <div class="align-c fullscreen">
                    <div class="pad-b-50"><img src="../../../static/mobile/images/icon/icon--person-kid.png" alt="Pengajuan Pinjaman icon" style="height:6.6875rem"/></div>
                    <p class="tc---red fs-38 pad-b-14"><strong>Terima kasih atas pengajuan<br>pinjaman anda.</strong></p>
                    <p class="tc---emperor fs-32 lh-14"><span class="icon-call"></span><strong>OK CALL ) 021-2788-9530</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
      <a href="javascript:self.close();"><button type="button" class="btn bgc---primary">Kembali ke layer awal</button></a>
    </div>
</div>

</body>
</html>
