<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <meta name="apple-mobile-web-app-title" content="OK BANK Indonesia">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="description" content="OK BANK Indonesia">
    <title>OK BANK Indonesia</title>
    <meta name="robots" content="all" />

    <!-- css -->
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/mobile/images/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/mobile/images/favicon_128.ico" />
    <link rel="icon" sizes="16x16" href="../../../static/mobile/images/favicon-16.png" />
    <link rel="stylesheet" href="../../../static/mobile/css/noto.css">
    <link rel="stylesheet" href="../../../static/mobile/css/common-style.css">
    <link rel="stylesheet" href="../../../static/mobile/css/ionic.min.bwg-7fa4.css">
    <link rel="stylesheet" href="../../../static/mobile/css/ionic.min.bwg-abb9.css">
    <link rel="stylesheet" href="../../../static/mobile/css/style.css">
    <link rel="stylesheet" href="../../../static/mobile/css/etc.css">
    
</head>
<body>
<div>

<div class="wrap">

    <div class="header">
        <h1>
            <img src="../../../static/mobile/images/logo-header.png" alt="OK BANK Indonesia LOGO" />
        </h1>
    </div>
    <div class="header-bar">
        <span class="header--title">Pengajuan Pinjaman</span>
    </div>
    <div class="container pad-t-0">
        <div class="extension">
            <div class="workflow">
                <div class="workflow--title">2. Input Informasi Pengajuan pinjaman</div>
                <ul class="workflow--item">
                    <li class="workflow---checked"></li>
                    <li class="workflow---active"></li>
                    <li></li>
                </ul>
            </div>
        </div>        
        <form name="" action="">            
            <fieldset class="fieldset">
                <h3 class="typo--title mgn-t-30">
                    <span>Input Informasi Pengajuan pinjaman*</span>
                </h3>
                <div class="fs-28 lh-14 tc---emperor">
                    <p><strong>Masukkan informasi pengajuan pinjaman</strong></p>
                </div>
                <div class="has-input-message mgn-t-100">
                    <div class="textfield textfield---fill">
                        <label>
                            <span class="textfield--placeholder">Jumlah pinjaman</span>
                            <input type="text" name="" placeholder="" />
                        </label>
                    </div>
                    <p class="input---invalid">* Rp 3 juta sampai 1 milyar, dalam kelipatan juta</p>
                </div>
                <div class="selectbox mgn-t-56">
                    <label>
                        <select name="" title="Tujuan pinjaman selesai">
                            <option value="" class="selectbox--placeholder" selected="selected">Tujuan pinjaman</option>
                            <option value="">Pelunasan hutang</option>
                            <option value="">modal kerja</option>
                            <option value="">Kebutuhan dasar</option>
                            <option value="">pengobatan</option>
                            <option value="">pendidikan</option>
                            <option value="">investasi rumah</option>
                            <option value="">konsumtif</option>
                            <option value="">renovasi</option>
                            <option value="">keagamaan</option>
                            <option value="">pernikahan</option>
                            <option value="">tidak terjawab</option>
                            <option value="">lainnya</option>
                        </select>
                        <span class="selectbox--title">Tujuan pinjaman</span>
                    </label>
                </div>
                <div class="selectbox mgn-t-56">
                    <label>
                        <select name="" title="Tenor selesai">
                            <option value="" class="selectbox--placeholder" selected="selected">Tenor</option>
                            <option value="">6Bulan</option>
                            <option value="">12Bulan</option>
                            <option value="">18Bulan</option>
                            <option value="">24Bulan</option>
                            <option value="">30Bulan</option>
                            <option value="">36Bulan</option>
                        </select>
                        <span class="selectbox--title">Tenor</span>
                    </label>
                </div>
            </fieldset>
            <fieldset class="fieldset mgn-t-60">
                <h3 class="typo--title">
                    <span>Informasi kerabat*</span>
                </h3>
                <div class="fs-28 lh-14 tc---emperor">
                    <p><strong>Masukkan informasi kerabat untuk keperluan penilaian pinjaman.</strong></p>
                </div>
                <div class="textfield mgn-t-50 textfield---fill mgn-t-100">
                    <label>
                        <span class="textfield--placeholder">Nama</span>
                        <input type="text" value="" placeholder="">
                    </label>
                </div>
                <div class="selectbox mgn-t-56">
                    <label>
                        <select name="" title="Hubangan selesai">
                            <option value="" class="selectbox--placeholder" selected="selected">Hubangan</option>
                            <option value="">Ayah</option>
                            <option value="">lbu</option>
                            <option value="">anak laki-laki</option>
                            <option value="">anak perempuan</option>
                            <option value="">Saudara</option>
                            <option value="">Teman</option>
                            <option value="">Rekanan</option>
                            <option value="">lainnya</option>
                        </select>
                        <span class="selectbox--title">Hubangan</span>
                    </label>
                </div>
                <div class="has-input-message">
                    <div class="textfield mgn-t-100 textfield---fill">
                        <label>
                            <span class="textfield--placeholder">Normer telepon</span>
                            <input type="text" value="" placeholder="">
                        </label>
                    </div>
                    <p class="input---invalid">Tanpa menggunakan &quot;-&quot;</p>
                </div>
                <p class="tc---gray-second fs-36 mgn-b-20 mgn-t-80">Status Tinggal</p>
                <div class="radioboxes radioboxes---grid radioboxes---grid-half radioboxes---theme-orange">
                    <label>
                        <input type="radio" name="two" value="" checked="checked" />
                        <span>Serumah</span>
                    </label>
                    <label>
                        <input type="radio" name="two" value="" />
                        <span>Tidak serumah</span>
                    </label>
                </div>
            </fieldset>

        </form>  
    </div>
    <div class="footer">
      <a href="./MWO_01_0003.html"><button type="button" class="btn bgc---primary">다음</button></a>
    </div>
</div>

</body>
</html>

