<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <meta name="apple-mobile-web-app-title" content="OK BANK Indonesia">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="description" content="OK BANK Indonesia">
    <title>OK BANK Indonesia</title>
    <meta name="robots" content="all" />

    <!-- css -->
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/mobile/images/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/mobile/images/favicon_128.ico" />
    <link rel="icon" sizes="16x16" href="../../../static/mobile/images/favicon-16.png" />
    <link rel="stylesheet" href="../../../static/mobile/css/noto.css">
    <link rel="stylesheet" href="../../../static/mobile/css/common-style.css">
    <link rel="stylesheet" href="../../../static/mobile/css/ionic.min.bwg-7fa4.css">
    <link rel="stylesheet" href="../../../static/mobile/css/ionic.min.bwg-abb9.css">
    <link rel="stylesheet" href="../../../static/mobile/css/style.css">
    <link rel="stylesheet" href="../../../static/mobile/css/etc.css">

</head>
<body>
<div>

<div class="wrap popup">

    <div class="header">
        <h1>
            <img src="../../../static/mobile/images/logo-header.png" alt="OK BANK Indonesia LOGO" />
        </h1>
    </div>
    <div class="header-bar">
        <span class="header--title">OK BANK Parsyaratan</span>
        <div class="suffix">
            <a href="javascript:self.close();"><button type="button">
                <img src="../../../static/mobile/images/icon/icon-h-close-dark.png" alt="close button">
            </button></a>
        </div>
    </div>

    <div class="container">
        <div class="wrap-require">
            <h3 class="fs-28 pad-b-14">OK BANK Parsyaratan</h3>
            <ol class="list---decimal-dot lh-14 fs-30 fw-100">
                <li>Pemohon akan mengikuti persyaratan dan ketentuan produk pinjaman perorangan (personal loan) OK Bank.</il>
                <li>Ketentuan pinjaman, termasuk jumlah pinjaman danZ
                <li>Selama periode pinjaman, pelanggan dapat dihubungi melalui telepon, SMS, DM, dll. Untuk menjaga produk, menawarkan layanan bisa kontak ke pelanggan.</li>
            </ol>
            <p class="fs-26 align-r pad-r-20 mgn-t-30 tc---emperor">Ver.5 (2019.4.15)</p>
        </div>
    </div>

    <div class="footer">
      <a href="javascript:self.close();"><button type="button" class="btn bgc---primary">Oke</button></a>
    </div>

</div>

</body>
</html>
